@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.qrcode-page{
  position: relative;
  width: 1440px;
  height: 800px;
  background-color: hsl(212, 45%, 89%);
}
.container {
  position: absolute;
  margin: 0; 
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 320px;
  height: 497px;
  border-radius: 20px;
  background: hsl(0, 0%, 100%);
}

.qrcode-item{
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 20px;
  width: 288px;
  height: 288px;
  overflow: hidden;
}

.qrcode-item img{
  width: 100%;
}


h2 {
  margin-top: 30px;
  width: 300px;
  text-align: center;
  color: hsl(218, 44%, 22%);
}

p {
  margin-top: 20px;  
  margin-left: 36px;
  width: 230px;
  font-size: 15px;
  color: hsl(220, 15%, 55%);;
  text-align: center;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin-top: -20px;
  z-index: 1;
}
.attribution a { 
  color: hsl(228, 45%, 44%);

}


  @media only screen and (max-width: 600px) {
    .qrcode-page {
      width: 375px;
      height: 667px;
    }

  }